[2020-12-04 07:40] FrankKirin commented on #555
I don't know how to get my client-side log, could you please give a hand?
But I fixed the bug, the Cloudflare DNS doesn't worked well last night.

[2020-12-04 07:44] Chigusa0w0 commented on #555
You can start your Trojan client with either one of the following command lines.
`trojan -l <desired log file path>`
or
`trojan >> <desired log file path>`

Please redact any sensitive information from your log before posting it.

[2020-12-04 07:48] #555 closed, assigned to GreaterFire

[2020-12-08 04:34] predators46 opened #558 "[BUG]trojan ssl handshake failed tlsv1 alert internal error"
我在cerboot中创建了SSL证书，但是木马中存在问题。我看到这个错误已经存在很长时间了

[2020-12-11 11:41] ghost opened #559 "cannot establish connection to remote server www.google.com:80: Connection timed out"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.
Boost 1_67, OpenS

[2020-12-11 14:42] babyzhang commented on #535
用着不错就行了，不过同样希望更新

[2020-12-11 14:49] MaBoCoMark commented on #255
trojan.exe trojan /path/to/config.json
Welcome to trojan 1.16.0
[2020-12-11 22:46:03] [FATAL] fatal: too many positional options have been specified on the command line
[2020-12-11 22:46:03] [FATAL] exiting. . .

[2020-12-11 14:54] MaBoCoMark opened #560 "[FATAL] fatal: too many positional options have been specified on the command line"
- [ V ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0

**Describe the bug**
[FATAL] fatal: too many

[2020-12-12 01:48] ousinkou commented on #519
I encounter the same problem when using ubuntu. In the system agent interface,  after blanking the http and https row, setting socks host with 127.0.0.1, 1080 port, the problem is solved.

[2020-12-12 06:08] GreaterFire commented on #560
@MaBoCoMark try trojan-cli\trojan.exe /path/to/config.json

[2020-12-14 07:12] ghost opened #561 "about the passwords field"
Hello,

I have a question about passwords. it's an array, which means that it can be accessed by multiple passwords? if it's a weak password does it compromise data security or just prevent unknown access?

Thank you.

[2020-12-14 07:13] GreaterFire commented on #561
@track044 Please read the doc

[2020-12-14 07:35] #561 closed, assigned to nobody

[2020-12-14 07:36] #560 closed, assigned to GreaterFire

[2020-12-14 07:37] Chigusa0w0 commented on #559
Connectivity problem is not a trojan issue.

[2020-12-14 07:37] #559 closed, assigned to GreaterFire

[2020-12-14 07:37] #558 closed, assigned to GreaterFire

[2020-12-15 07:33] sjzlida commented on #255
yes! I got it ,thanks.

[2020-12-17 17:01] ghost commented on #537
我也建议。给用户选择权是好的，即使你可以默认开tls

[2020-12-17 17:08] leon7786 opened #562 "[Feature Request]It is recommended that you give the user the option to turn off TLS"
Before touching Trojan-gfw, we typically have only one VPS and caddy/ Nginx deployed.
Because of your coercive approach, your tools have significantly reduced diversity.

[2020-12-17 19:59] #562 closed, assigned to GreaterFire

[2020-12-25 13:10] lazywen commented on #154
@zhouhm 楼主有没有解决，我完全照着上面的步骤来的，网关可以上外网，但是lan设备上不了，同样的iptables rules换v2ray或者ss-redir就没问题

[2021-01-01 03:13] bjzhili opened #563 "最好用的"
简单暴力/干净好用，虽然定格在1.16，但是您写下的代码依稀闪烁，犹如你坦荡心胸，在这一刻真的爱了。祝新年顺心顺意，身体健康。

[2021-01-01 07:50] lss4 commented on #512
Just checked that with certbot, for some reasons the private keys (which Trojan needs) have only 600 permission so the user nobody cannot access it, only root can. Other files (such as full chain) have 644 permissions so nobody can access them.

So what is the right way to use the nobody user for trojan with a certbot generated certificate?

Also, it seems with the nobody user you also get this wa

[2021-01-04 02:29] huiscool opened #564 "How to automatically start trojan when using launchctl ?"
Hi, I'm a user of macOS, and I want to use launchctl to start trojan automatically. I find that it's ok to start trojan from terminal, but it doesn't work when using launchctl. Here is my plist:

[code]
![image](https://user-images.githubusercontent.com/30804350/103495628-64d94480-4e76-11eb-8523-46947adcd85d.png)

The launchctl list shows that the trojan exits with code 78 and no log file.

 Thank

[2021-01-04 02:39] GreaterFire commented on #564
@huiscool See trojan-gfw/homebrew-trojan

[2021-01-04 02:39] huiscool commented on #564
I find that I don't have the log permission and it fails to write to /var/log :(
Changing it to a user folder works for me.

[2021-01-04 02:39] #564 closed, assigned to nobody

[2021-01-04 02:41] huiscool commented on #564
how can I install it ?

[2021-01-06 10:38] FrankKirin opened #565 "[BUG]图形客户端如何配置证书验证？"
如何在trojan-qt5图形客户端上配置证书验证？

[2021-01-06 22:52] wongsyrone commented on #565
Wrong repo.

[2021-01-06 22:52] #565 closed, assigned to GreaterFire

[2021-01-08 19:07] #563 closed, assigned to nobody

[2021-01-13 09:44] cccsf opened #566 "申请证书时出错想问一下怎么解决"
acme.sh --issue -d <自己域名> -w /var/www/acme-challenge执行这条命令后出现了-bash：自己域名： No such file or directory
想问一下怎么解决

[2021-01-13 10:32] #566 closed, assigned to nobody

[2021-01-20 08:54] 0neday commented on #101
transmit all package, include tcp and udp

[2021-01-27 03:51] msl4437 opened #567 "[Guide]Alpine静态编译trojan"
Alpine编译镜像

    FROM alpine:latest

    RUN apk update && \
        apk add build-base perl linux-headers && \
        wget --no-check-certificate https://github.com/openssl/openssl/archive/OpenSSL_1_1_1i.tar.gz && \
        tar -zxf OpenSSL_1_1_1i.tar.gz && \
        cd openssl-OpenSSL_1_1_1i && \
        ./config --openssldir=/etc/ssl enable-ec_nistp_64_gcc_128 no-ssl2 no-ssl3 no-comp no-idea no

[2021-01-31 09:22] ParadiseHell commented on #161
Me too.

[2021-02-01 10:20] elliott10 commented on #15
No CMAKE_CXX_COMPILER could be found.
---
Solved:
[code]

[2021-02-02 09:06] jovirus opened #568 "disconnect event right after requested connection"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0
The version of trojan you are using.

**Describ

[2021-02-02 10:28] strawcarb commented on #568
OSX client could not connect the server.

Nov 29 06:18:45 vultr.guest trojan[870]: [2020-11-29 06:18:45] [ERROR] 182.91.179.102:6130 SSL handshake failed: stream truncated
Nov 29 06:18:45 vultr.guest trojan[870]: [2020-11-29 06:18:45] [INFO] 182.91.179.102:6130 disconnected, 0 bytes received, 0 bytes sent, lasted for 0 seconds
Nov 29 06:18:45 vultr.guest trojan[870]: [2020-11-29 06:18:45] [ALL] 18

[2021-02-02 10:30] echocde opened #569 "[BUG] SSL handshake failed: stream truncated"
- [x] The OSX could not connect to the server.IOS is OK

**Trojan Version**
1.16.0

**Describe the bug**
OSX client could not connect the server.

Nov 29 06:18:45 vultr.guest trojan[870]: [2020-11-29 06:18:45] [ERROR] 182.91.179.102:6130 SSL handshake failed: stream truncated
Nov 29 06:18:45 vultr.guest trojan[870]: [2020-11-29 06:18:45] [INFO] 182.91.179.102:6130 disconnected, 0 bytes received, 0

[2021-02-04 23:05] dddd-zdf opened #570 "[BUG]installation failed with brew on Mac m1"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0

**Describe the bug**
installation failed at "m

[2021-02-04 23:09] #570 closed, assigned to GreaterFire

[2021-02-04 23:29] dddd-zdf commented on #570
Homebrew no longer supports running as root so I granted access by

[code]

where I still got exactly the same error

[2021-02-04 23:30] GreaterFire commented on #570
@dddd-zdf Try the pre-built binary?

[2021-02-04 23:32] dddd-zdf commented on #570
the one in release works perfectly fine. I'm merely trying to put it under brew to manage.

[2021-02-05 00:10] wongsyrone commented on #570
It's incorrect. If you read the error message carefully, it fails to access `/etc/opt/homebrew/Cellar` when `make install` not `/opt/homebrew/Cellar/`. I don't have any Apple devices and cannot do more.

[2021-02-05 00:16] dddd-zdf commented on #570
I did realize that just now however that points out the real issue. There is no such path that `/etc/opt/homebrew/Cellar` but "cellar" is in `/opt/homebrew/Cellar/`

I figure there is something wrong with the installation script and I'm reading it.

[2021-02-05 03:35] jovirus commented on #568
after restart everything, it works again.

[2021-02-05 03:35] #568 closed, assigned to GreaterFire

[2021-02-07 15:05] 0neday commented on #567
centos 8
compile error log

-- The CXX compiler identification is GNU 8.3.1
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ - broken
CMake Error at /usr/local/share/cmake-3.17/Modules/CMakeTestCXXCompiler.cmake:53 (message):
  The C++ compiler

    "/usr/bin/c++"

  is not able to compile a simple test program.

  It fails with the following output:

[2021-02-07 15:09] 0neday commented on #567
[root@vultrguest trojan]# cmake  -DCMAKE_CXX_FLAGS="-static" -DBoost_USE_STATIC_LIBS=ON .
-- Found Boost: /usr/local/lib/cmake/Boost-1.72.0/BoostConfig.cmake (found suitable version "1.72.0", minimum required is "1.66.0") found components: system program_options
-- Found OpenSSL: /usr/local/lib64/libcrypto.a (found suitable version "1.1.1i", minimum required is "1.1.0")
-- Configuring done
-- Gene

[2021-02-08 12:38] msl4437 commented on #567
请在alpine中编译

[2021-02-09 00:39] 0neday commented on #567
没用过apline. 并非一定要静态，用 LD_LIBRARY_PATH 指定动态库路径。
export LD_LIBRARY_PATH=/opt/trojan/lib:$LD_LIBRARY_PATH

[2021-02-09 03:04] 0neday commented on #567
[root@vultrguest trojan-master]# cmake -DCMAKE_CXX_FLAGS="-static"  -DBoost_USE_STATIC_LIBS=ON .
-- Boost 1.66.0 found.
-- Found Boost components:
   system;program_options
-- Found OpenSSL: /usr/local/lib64/libcrypto.a (found suitable version "1.1.1i", minimum required is "1.1.0")
-- Configuring done
-- Generating done
-- Build files have been written to: /root/trojan-master
[root@vultrguest troj

[2021-02-09 03:08] wongsyrone commented on #567
This issue is simply a guide on how to compile trojan statically on Alpine Linux. Open another issue if you have questions.

[2021-02-09 03:08] #567 closed

[2021-02-09 03:10] GreaterFire commented on #567
@0neday Please, refer to the docs for build guide.

[2021-02-09 03:10] wongsyrone commented on #567
Irrelevant comments deleted to make it clear.

[2021-02-09 03:30] 0neday opened #571 "Delete"

[2021-02-09 04:21] hronro opened #572 "[Feature Request] Provide pre-build static binary in GitHub Releases"
- [x ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
I notice there is an issue talking about how to build a static binary (#567), but the original issue was locked, so I have to create a

[2021-02-09 06:44] FrankKirin opened #573 "fatal: use_certificate_chain_file: Permission denied"
看到过把证书权限和证书目录权限改为755的解决方案，无效，改成777也无法解决，不知道该怎么做？
服务器无法启动trojan 服务

服务器配置文件如下：
{
    "run_type": "server",
    "local_addr": "0.0.0.0",
    "local_port": 443,
    "remote_addr": "127.0.0.1",
    "remote_port": 80,
    "password": [
        "password",
    ],
    "log_level": 1,
    "ssl": {
        "cert": "/root/.acme.sh/domain_ecc/fullchain.cer",
        "key": "/root/.acme.sh/domain_ecc/domain.k

[2021-02-09 06:51] 0neday commented on #573
change dir
[code]
to
[code]

[2021-02-09 13:08] 0neday commented on #189
[code]
could add REUSEPORT for armv7 kernel 3.10+

[2021-02-09 13:45] FrankKirin commented on #573
It works! Thank you.

[2021-02-09 13:45] #573 closed, assigned to nobody

[2021-02-10 09:14] 0neday commented on #515
have compiled static trojan armv7 binary, https://github.com/0neday/Exploit-HS8545M-ONT/commit/8a1592e7117c8f33e21f29e6852d5805086a99ec

[2021-02-10 09:56] GreaterFire commented on #515
@0neday nope

[2021-02-11 02:08] 0neday commented on #571
trojan arm static compile, https://gist.github.com/0neday/27c287abc596fdf68bd4c11d08371b95

[code]

[2021-02-11 09:40] #571 closed, assigned to GreaterFire

[2021-02-12 13:08] msl4437 commented on #572
[trojan.zip](https://github.com/trojan-gfw/trojan/files/5971935/trojan.zip)
我这里编译了一份成品，你试试看。

[2021-02-14 05:29] 0neday opened #574 "[Feature Request] Delete"

[2021-02-14 07:06] #572 closed, assigned to GreaterFire

[2021-02-14 07:15] Chigusa0w0 commented on #569
You are connecting to trojan server with different network. As Vultr is being targeted since long ago, please check your connectivity first.

[2021-02-14 13:20] hronro commented on #572
Well I have to say this might be the rudest maintainer I've ever seen.

[2021-02-24 00:20] #574 closed, assigned to GreaterFire

[2021-02-24 07:00] #569 closed, assigned to GreaterFire

[2021-03-04 05:29] 0neday opened #575 "[BUG] delete"

[2021-03-04 05:31] #575 closed, assigned to GreaterFire

[2021-03-09 03:10] dun11 commented on #78
chmod -R 777 /etc/letsencrypt/
it works, thanks for the answer.

[2021-03-09 07:41] ghq200101 opened #576 "先后安装了lnmp和trojan,出现“exit-code”error,能帮忙看一下吗？"
1、问题：
![image](https://user-images.githubusercontent.com/9986859/110433702-c5416800-80eb-11eb-9a8a-5bf65922e3b1.png)
2、配置：
nginx.conf （两个域名）
![image](https://user-images.githubusercontent.com/9986859/110434027-40a31980-80ec-11eb-9ee0-6f569b351dd6.png)
trojan虚拟主机配置
![image](https://user-images.githubusercontent.com/9986859/110434551-ec4c6980-80ec-11eb-95af-790ce9b63ab9.png)
trojan的config.json的配置
![

[2021-03-09 12:48] #576 closed, assigned to nobody

[2021-03-09 12:48] ghq200101 commented on #576
本人已解决，谢谢各位。

[2021-03-12 12:15] dreamingodd commented on #519
It means use SOCKS5 protocol to connect your existing port 127.0.0.1:1080, as your config.json is correct.

[2021-03-12 12:15] dreamingodd commented on #519
It means using SOCKS5 protocol to connect your existing port 127.0.0.1:1080, as your config.json is correct.

[2021-03-15 08:23] huanglei1926 commented on #416
@boluoyu 您好,请问能指导一下如何编译出iOS版本吗?我这边也想自己弄一个,但是没有头绪.

[2021-03-18 10:05] hss14 opened #577 "enable trojan server to listen on both IPv4 and IPv6"
Hi~

My trojan server has a domain name that can be resolved to both IPv4 and IPv6 addresses, so I would like the trojan server to listen on both IPv4 and IPv6.

I tried but failed. It can listen on either IPv4 or IPv6, but not both.

And I found that `local_addr` is `std::string` in the [source code](https://github.com/trojan-gfw/trojan/blob/master/src/core/config.h). So it seems that we can only

[2021-03-19 02:23] abbottjlu commented on #577
Does this work for you?
[code]

[2021-03-19 03:34] hss14 commented on #577
yes it works! Thank you for much!

[2021-03-19 03:34] #577 closed, assigned to nobody

[2021-03-19 12:02] toplinuxsir opened #578 "Is there for win32 build release?"
Is there for win32 build release?

[2021-03-19 23:00] wongsyrone commented on #578
Nope. Please compile it yourself.

[2021-03-19 23:00] #578 closed, assigned to GreaterFire

[2021-03-20 12:14] leiless opened #579 "[Misc] Made a universal trojan build for macOS"
Hey, guys, I just made a universal(`x86_64` + `arm64`) trojan build for macOS: [leiless/trojan-darwin-universal](https://github.com/leiless/trojan-darwin-universal).

This enables us to run trojan natively on Apple Silicon chip, feel free to try it out.

Why?

* Since Homebrew doesn't provide a universal build of `openssl@1.1` and `boost`.

I don't know if it's appropriate to open an issue here, i

[2021-03-21 14:30] okudayukiko opened #580 "[Feature Request]plain_http_response好像不是返回一個HTML檔？"
- [X] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2021-03-21 15:26] GreaterFire commented on #580
@okudayukiko try http instead of https

[2021-03-21 15:35] okudayukiko commented on #580
http://trojan_server:443/
Protocol error

[2021-03-23 08:27] hss14 commented on #570
so any results? I encountered the same problem.

[2021-03-24 07:57] dddd-zdf commented on #570
sry, since I'm not familiar with the script, it took me a while in vain, plus I've been busy with something else during these months. I'm using the pre-built for now but I may spend some time in the future to look into it.

[2021-03-29 05:35] zhucaidan opened #581 "[Feature Request]请问可否增加屏蔽指定domain功能？"
请问下Trojan是否支持当客户端访问指定域名时返回null

从而达到屏蔽指定域名访问功能

config中没看到可以实现，可否增加屏蔽指定domain功能？

[2021-03-29 07:42] Chigusa0w0 commented on #581
Trojan is a general purpose proxy software. It is NOT designed specially for HTTP(S) protocols. So, as what you requested relys on the assumption that the inner protocol is HTTP(S), it will not be considered.

[2021-03-29 07:46] Chigusa0w0 commented on #581
If you really want to do that, the best approach is to audit connections on your server (for example, block IPs of websites via firewall). It would be rather complicate and error-prone to handle such "feature" in Trojan codebase.

[2021-03-29 07:48] zhucaidan commented on #581
ok, thx

[2021-03-29 07:48] #581 closed, assigned to GreaterFire

[2021-03-29 07:57] Chigusa0w0 commented on #580
Kinda duplicate #457
What you should provide is a TCP dump. In your case, it should be a whole valid HTTP response (header+body), typically starts with "HTTP/1.1". You should never provide an HTML file directly unless you know what you are doing.

[2021-03-29 07:57] #580 closed, assigned to GreaterFire

[2021-03-29 08:03] Chigusa0w0 commented on #579
If you are willing to make your build accessible to everybody. You can edit the Wiki page at https://github.com/trojan-gfw/trojan/wiki/Binary-&-Package-Distributions.
You can find a section for macOS at the bottom of the page. Feel free to add your build in the section! Just remember to make a clear statement that the build is from third-party.

[2021-04-01 14:03] leiless commented on #579
Okay, I'll try some later time.

[2021-04-04 03:53] viviov opened #582 "docker run trojan confused"
![image](https://user-images.githubusercontent.com/12570557/113497585-151f1d80-9538-11eb-9b0f-414e4c03e3a3.png)
docker command `docker run -d -p 28999:28999 --name trojan --restart=always -v /etc/trojan:/etc/trojan teddysun/trojan`
config file:
![image](https://user-images.githubusercontent.com/12570557/113497604-4b5c9d00-9538-11eb-8718-28645ec63d6c.png)
clash client file:
![image](https://user-im

[2021-04-04 12:39] a13519 opened #583 "Disable trojan console"
I am not sure if the console can be disabled. If yes could you show me how to do it.

I think it could be a security venerability that the console was presented by default, anyone can easily screen the site by keywords of trojan.

That will be nice to have a customized console path and port, at same time put a switch to enable or disable it.

Thanks,

[2021-04-04 19:04] Chigusa0w0 commented on #583
Trojan do NOT support disabling shell output. If you want to "no-output", please try [redirection](https://www.gnu.org/software/bash/manual/html_node/Redirections.html). Trojan mainly uses `stderr` to output messages.

Anyway, if someone can view your shell activity, they are most likely already gained the capability to access your shell, or even your local files. So disabling shell output can har

[2021-04-04 19:04] #583 closed, assigned to GreaterFire

[2021-04-05 14:54] a13519 commented on #583
Hi, Thanks for your message, what I mean is the web console used to manage
the trojan, that's a risk if someone scan the main page which the url are
exposed to public when use it.

On Mon, 5 Apr 2021 at 03:04, Chigusa0w0 ***@***.***> wrote:

[2021-04-05 15:56] GreaterFire commented on #583
@a13519 There is no such thing as a web console.

[2021-04-05 15:59] a13519 commented on #583
How about this? after installing the trojan, it came at once.

On Mon, 5 Apr 2021 at 23:56, GreaterFire ***@***.***> wrote:

[2021-04-05 16:39] Chigusa0w0 commented on #583
@a13519 We cannot observe any additional information in your last reply. Please note that response via email is not "what you see is what you get". Attachments and unsupported styles may be discard without warning.

[2021-04-18 08:20] Nleo87 commented on #165
我家里同样的wife带宽环境，使用购买的订阅使用小火箭和V2rayN都非常的快，但自己按照YouTube的教学 ，用谷歌云搭建的Trojan用起来却非常的慢，测试了好多谷歌云vps，美国200ms,香港60ms的都非常卡，视频也只能跑300k。希望群里有热心大牛给，告诉我问题出在了哪里，，，，，非常感谢你们的帮助

[2021-04-18 08:23] GF-Huang commented on #165
可能是你的 wife 出了问题 [滑稽]

[2021-04-18 09:06] #495 closed

[2021-04-25 08:52] TangBoheng commented on #346
`Your client does not have permission to get URL / from this server. (Client IP address: 2001:19f0:6001:341b:5400:2ff:fee1`
already change ipv6 address, but still fall to access, any suggestion?Thanks

[2021-04-25 08:57] TangBoheng commented on #346
`Your client does not have permission to get URL / from this server. (Client IP address: 2001:19f0:6001:341b:5400:2ff:fee1`
already change ipv6 address, and change some ips ,but still fall to access. I have no idea whether vutur have been blocked entirly, any suggestion?Thanks

[2021-04-27 09:13] boluoyu commented on #416
@huanglei1926 如果想交流的话，Q:三四⑦⑧⑨零五⑨④

[2021-04-27 10:36] okudayukiko opened #584 "[Feature Request] 內建DNS快取功能？"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2021-04-29 05:52] kdyzm opened #585 "【咨询】有没有更详细的trojan协议文档"
目前打算使用java实现简单的trojan客户端，但是感觉trojan协议描述的不是很清楚，我找到了协议文档
https://github.com/trojan-gfw/trojan/blob/master/docs/protocol.md
但是文档中有几处疑问

1. tls连接之后要发送以下结构的内容

| hex(SHA224(password)) |  CRLF   | Trojan Request |  CRLF   | Payload  |
|-----------------------|---------|----------------|---------|----------|
|          56           | X'0D0A' |    Variable    | X'0D0A' | Variable |

我认为这是trojan协议握手的请求，这个时

[2021-04-29 06:15] Chigusa0w0 commented on #585
1a. Payload is the first user request data, bundled within the initial packet.
https://github.com/trojan-gfw/trojan/blob/3e7bb9aecdc694f9bcae8d646fae395f773d60f8/src/session/serversession.cpp#L169-L170

1b. Response data is written to socket as-is
https://github.com/trojan-gfw/trojan/blob/3e7bb9aecdc694f9bcae8d646fae395f773d60f8/src/session/serversession.cpp#L255-L260

2. Partially correct
https:/

[2021-04-29 06:15] #585 closed, assigned to nobody

[2021-05-08 01:01] shunzhihengren commented on #364
@GreaterFire where is the ssl.cert ?Where can I find it?

[2021-05-09 14:41] NElight opened #587 "macos 测速正常 访问网页ERR_SSL_PROTOCOL_ERROR 访问google会出现nginx 400"
我用了trojan-qt和clashx等多个客户端，均出现上述问题，测速都是正常的，但是就没没办法通过代理正常访问网页，日志没有错误。

[2021-05-12 11:25] jacksea1024 opened #588 "arm-openwrt-linux-muslgnueabi/bin/ar: array_type_info.o: No such file or directory"
arm-openwrt-linux-muslgnueabi-gcc-ar cr src/libuClibc++.a src/algorithm.o src/associative_base.o src/bitset.o src/char_traits.o src/complex.o src/del_op.o src/del_opnt.o src/del_ops.o src/del_opv.o src/del_opvnt.o src/del_opvs.o src/deque.o src/eh_alloc.o src/eh_globals.o src/exception.o src/fstream.o src/func_exception.o src/iomanip.o src/ios.o src/iostream.o src/istream.o src/iterator.o src/limi

[2021-05-12 12:02] jacksea1024 commented on #588
I found a solution here, says the file name and path are too long and cause this issue,
https://forum.openwrt.org/t/buid-package-uclibc-failed-by-using-openwrt-sdk/64377

It says cd /tmp then compile, but I get another error says: no rule to make target "~/openwrt-sdk-19.07.7-ipq806x-generic_gcc-7.5.0_musl_eabi.Linux-x86_64/package/trojan/compile"

What should I do? Thanks

[2021-05-14 08:13] lorrenho commented on #587
try to:
  "ssl": {
        "verify": false,

[2021-05-19 02:34] EricJin101 commented on #587
+1...same question

[2021-05-21 02:00] yufengwa opened #589 "It shows "Bad CPU type in executable" when I use Macbook Air with the latest M1 CPU. Is it possible to be compatible with this NEW CPU, thanks.. [BUG]"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.

**Describe the b

[2021-05-21 02:09] Chigusa0w0 commented on #589
You can compile it by yourself or try third-party build at your own risk, like this one #579.

[2021-05-21 02:09] #589 closed, assigned to GreaterFire

[2021-05-21 02:11] Chigusa0w0 commented on #587
Most likely you misconfigured Trojan, like put Nginx before Trojan.

[2021-05-22 04:16] Spencerzy opened #590 "[Feature Request] Support socks4"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
Windows built-in proxy only supports socksv4 not socks5. I spent few hours in setting up another proxy to get it work: socks5 proxy=> h

[2021-05-22 05:44] GreaterFire commented on #590
@Spencerzy SOCKS4 doesn't support remote DNS so we don't consider it

[2021-05-22 10:23] Spencerzy commented on #590
How about integrating a http proxy to provide user more options not just socks5?

[2021-05-22 14:25] Chigusa0w0 commented on #590
This is Trojan Core repo, not Trojan UI.

[2021-05-22 14:25] #590 closed, assigned to GreaterFire

[2021-06-03 18:05] mem0rz commented on #50
https://w3techs.com/technologies/history_overview/site_element/all
2021/06
HTTP/3+QUIC has 25% of the website popularity.Perhaps it is time for the project to consider supporting it.
@GreaterFire

[2021-06-04 08:59] finch-yihe commented on #483
我的被封了，各位，你们的呢？？？

[2021-06-04 09:00] linkedsh0926 commented on #483
早就不用trojan啦，现在在用v2ray+cdn，目前为止还很稳

[2021-06-04 09:17] finch-yihe commented on #483
能教教我怎么搭建吗? 我没研究过v2ray的，毕竟不是c++写的。

[2021-06-04 09:20] linkedsh0926 commented on #483
https://github.com/bannedbook/fanqiang/blob/master/v2ss/V2Ray%E4%B9%8BTLS%2BWebSocket%2BNginx%2BCDN%E9%85%8D%E7%BD%AE%E6%96%B9%E6%B3%95.md

[2021-06-04 09:58] finch-yihe commented on #483
谢谢

[2021-06-05 18:55] ghost opened #591 "[Feature Request] The network traffic forwarded to the upstream retains the real client IP."
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
Currently, the traffic forwarded by trojan to remote_addr does not set the real client IP, so upstream websites, such as Nginx, believe

[2021-06-05 19:03] Chigusa0w0 commented on #591
Trojan will not add such feature #377 but you can use Nginx to append such information in the connection https://github.com/trojan-gfw/trojan/issues/433#issuecomment-692878138

[2021-06-05 19:03] #591 closed, assigned to GreaterFire

[2021-06-13 08:47] mr-abccc opened #592 "trojan IPv6"
Trojan sets IPv6 network priority

[2021-06-15 02:44] lucifer662607004 commented on #558
我也遇到这个问题。我也是ca证书，客户端开启允许不安全链接就能避免这个问题，但是这样ca证书就完全没意义了……

后来我发现除了tls host需要ca的域名之外，服务器地址也必须要写域名，否则就会有概率出现这个问题，不知道是不是我客户端的bug，后来我用dnsmasq劫持ca域名到固定IP，服务端地址再使用域名之后就没出现了，给后人参考吧。

[2021-06-20 01:32] 20NE opened #593 "[Feature Request] ACL"
As above, ACL base on ip address(e.g. china ip range) or url list(e.g. gfwlist).
Thx, have a good day.

[2021-06-20 04:34] #593 closed, assigned to GreaterFire

[2021-06-20 12:45] earth-5G opened #594 "哇，我们这个Trojan居然都一年了多了 都不更新！"
这次64好多人的vps都没抗住，以前都没问题的！

作者大哥没有更新的计划嘛？

我就问问！

[2021-06-20 16:46] #594 closed, assigned to GreaterFire

[2021-06-23 01:06] EastPearlStar2019 commented on #318
still as it is , using 1.16.0.

[2021-06-24 01:25] yf-hk commented on #438
So, if not specified in the command line argument, will it disable log?

[2021-06-24 07:11] chen1647 opened #595 "Client succeeded using WIFI, failed when I switch to China Mobile 4g"
I checked the log it seems the requested ip is nonsense.

[2021-06-24 07:05:10] [ALL] 39.144.40.251:41883 incoming connection
[2021-06-24 07:05:11] [ALL] 39.144.40.251:41853 incoming connection
[2021-06-24 07:05:13] [ALL] 39.144.40.251:42413 incoming connection
[2021-06-24 07:05:13] [ALL] 39.144.40.251:42491 incoming connection
[2021-06-24 07:05:13] [ALL] 39.144.40.251:42514 incoming connection
[2

[2021-06-24 07:24] chen1647 commented on #595
another observation:
looks like in 4/5g mode, the ssl handshake failed
[2021-06-24 07:22:39] [ALL] 39.144.44.155:17385 incoming connection
[2021-06-24 07:22:40] [ALL] 39.144.44.155:17384 incoming connection
[2021-06-24 07:22:45] [ALL] 39.144.44.155:17388 incoming connection
[2021-06-24 07:22:48] [ERROR] 39.144.44.155:17385 SSL handshake failed: stream truncated
[2021-06-24 07:22:48] [INFO] 39.144.

[2021-06-24 09:11] chen1647 commented on #595
I'm using Vultr vps, I'm suspecting it might be blocked by china mobile.

[2021-06-24 09:11] #595 closed, assigned to nobody

[2021-06-29 01:55] haiquanhuang opened #596 "[BUG]使用trojan无法使用DNS解锁奈飞服务"
使用dnsmasq分流脚本，trojan无法成功，v2ray则有效
客户端使用的是openwrt的ssr plus，DNS解析方式 ：使用PDNSD TCP查询并缓存

[2021-06-29 10:01] doghappy opened #597 "trojan 使用 443 端口被封了"
我使用 nginx 443 转发到 trojan，实现共用 443 端口，它一直工作得很好。但是在 2021/6/28 下午，443 端口被封了。有其他网友遇到这种现象吗？

[2021-06-29 10:10] doghappy commented on #597
伪装的网站是 Welcome to CentOS 的默认网页，是否与这个有关系？

[2021-06-29 12:18] wdweidao commented on #566
你好，这个问题解决了吗？我也碰到了

[2021-06-29 12:19] wdweidao commented on #566
你好，这个问题解决了吗？我也碰到了

[2021-06-29 12:43] dotAge commented on #597
我现在一直报dial tcp4 .... i/o timeout

[2021-06-29 12:53] dotAge commented on #597
确认80端口可连接，但443则连接失败，手机数据信号及多个宽带网络都不行了。
Trojan服务器端换443以外的端口可行吗？

[2021-06-29 13:13] doghappy commented on #597
我跟你的提示一样，最终确定是端口被封了。更换端口可以继续使用服务，但有网友反馈说，如果更换端口再次被识别，可能会封锁 ip，请慎重。

如果只有一台 vps，尝试更换协议和端口。

我是中午看了一会油管后被封的。

[2021-06-29 14:24] wongsyrone commented on #597
你这个也不是trojan-gfw的输出啊

[2021-06-29 14:26] doghappy commented on #597
trojan服务端正常，这个是v2rayN客户端的输出。

[2021-06-29 17:04] dotAge commented on #597
我这个是clash for android的日志

[2021-06-29 17:11] dotAge commented on #597
如何更换服务器端口？

[2021-06-29 19:20] xiaobovlog commented on #597
So do I, 6/28/2021

[2021-06-29 19:27] jackxiaoo commented on #597
Maybe the https SSL have broken

[2021-06-29 20:53] jackxiaoo commented on #597
new install script , good project. https://github.com/jinwyp/one_click_script

[2021-06-29 21:45] wongsyrone commented on #597
其他共用的都有什么服务，伪装站怎么搭建的

[2021-06-29 22:12] BaiqingL commented on #597
换个端口搭建服务，我之前也有遇到这个问题。

[2021-06-29 23:34] kgiflwl commented on #597
2021/6/29中午开始不能访问，ping.pe正常，port.ping.pe发现443端口被封，80端口到目前2021/6/30，trojan仍然可以接到http请求。伪装网站是每月定期从某hub.io搬运，时常有随机更新。

可能是某种行为pattern被标记了。

[2021-06-29 23:37] wongsyrone commented on #597
搭建是否使用一键脚本，如果使用给出链接地址

[2021-06-29 23:42] kgiflwl commented on #597
从头搭建的，根据https://trojan-gfw.github.io/trojan
已正常使用一年有余，每次有新release都会更新，用的客户端：自己在openwrt编的、shadowrocket、igniter

[2021-06-29 23:44] wongsyrone commented on #597
伪装站的nginx配置和伪装站源码

[2021-06-29 23:50] kgiflwl commented on #597
伪站源mlcommons.org，nginx是原始debian 10 deb包默认配置未修改（稍后附上），只用80，用trojan伪装nginx 443。cert是letsencrypt对应debian+nginx，每90天更新

[2021-06-30 00:03] kgiflwl commented on #597
[nginx.zip](https://github.com/trojan-gfw/trojan/files/6737121/nginx.zip)

[2021-06-30 00:13] kgiflwl commented on #597
trojan log，能看到从80进去的请求被识别，trojan转给nginx。443发过去的已经收不到了。除了443，其它维护端口都是通的。

[2021-06-30 00:17] doghappy commented on #597
trojan-gfw 使用官方镜像运行的容器，用物理机非443端口映射容器443端口，证书使用 certbot/let's encrypt 申请，也映射了到容器中。

nginx 监听443和80

搭建流程： https://doghappy.wang/Article/Detail/10183

[2021-06-30 00:24] wongsyrone commented on #597
目前上面几位看不出问题，贴一下目前暂时没有被封锁的流程：

1. nginx server_tokens off
2. nginx 监听0.0.0.0:80 并仅负责301到443， nginx监听127.0.0.1:80 托管伪装站
3. trojan监听0.0.0.0:443，负责接入所有外部443请求

[2021-06-30 00:27] kgiflwl commented on #597
这个我没设，可能的原因之一

[2021-06-30 01:11] xhrm commented on #597
近期多个服务器443被封，其他端口正常，从海外访问正常，国内GG

[2021-06-30 03:34] kgiflwl commented on #597
我们应该尽可能的列举使用习惯、流量习惯、客户端习惯这些，看看pattern标记的漏洞在哪里。trojan protocol本身已经论证过不少回了，能被标记的概率比较小。

[2021-06-30 03:47] BaiqingL commented on #597
这个只是表明不会反馈nginx版本，是个常见的安全措施，不至于成为原因之一。

[2021-06-30 05:25] 0neday commented on #597
trojan 已经被标记为可识别的协议

[2021-06-30 06:57] strongbugman commented on #597
我这的伪装站挂了，不知道是不是这个原因

[2021-06-30 07:13] xiaobovlog commented on #597
有可能是伪装站挂了的原因，我的也变成了nginx的默认页面了

[2021-06-30 08:50] keengrass commented on #597
换个端口搭建会不会容易直接封IP了？（裸奔）

[2021-06-30 09:30] ghost commented on #597
我两个节点作为备份，所以我的ssh流量我也走trojan，这样可以突破公网对ssh的限制。以前都一直好好的，这几天不行了。我节点可以上github.com和google.com，但是ssh连不上。我不知道是否ssh over tls被GFW识别了？

这两天两个节点也挂了一个，换了IP只管了几个小时。还好还有一个可以用的。

是无差别封锁还是trojan不再坚挺了呢，我的节点应该2年多了，一直挺稳定的，以前关键时期都没出过问题，这次挂了。

[2021-06-30 09:59] earth-5G commented on #597
无差别i封锁 之前64就大面积封杀了一次，现在我i在这里还一切安好！

[2021-06-30 11:06] fourdim commented on #597
Sever side log
[code]

The thing is these requests should be trojan requests. However, trojan proxies them to port 80.

[2021-07-01 14:48] sheiy commented on #597
我也被封了

[2021-07-01 15:10] YongChingShieh commented on #597
我也被封了

[2021-07-02 02:46] intgyl commented on #597
我的也不行了，也是443端口被封了，能不能支持cdn

[2021-07-02 02:54] misskiki commented on #579
强烈推荐作者出一个基于安卓客户端的trojan-go

[2021-07-02 03:18] Maimez commented on #597
+1

[2021-07-02 04:32] imoonkin commented on #597
应该是油管导致的，前一天开看过别的，挺正常的，看了油管就凉凉了

[2021-07-02 08:17] ghost opened #599 "[BUG]"
[2021-07-02 16:09:38] [INFO] connecting to MySQL server 127.0.0.1:64335
[2021-07-02 16:09:38] [INFO] connected to MySQL server
[2021-07-02 16:09:38] [WARN] trojan service (server) started at 0.0.0.0:443
[2021-07-02 16:09:51] [WARN] 93.174.93.12:13310 not trojan request, connecting to 127.0.0.1:80
[2021-07-02 16:09:51] [INFO] 93.174.93.12:13310 disconnected, 0 bytes received, 18 bytes sent, lasted

[2021-07-02 08:42] #599 closed, assigned to GreaterFire

[2021-07-02 15:23] Yppup commented on #597
俺也一样

[2021-07-02 16:25] YongChingShieh opened #600 "是否考虑支持 gRPC"
鉴于最近一批用户使用trojan和v2ray 都不约而同的被封锁443端口 是否可以考虑支持gRPC

[2021-07-02 16:27] PSC-F commented on #597
+1

[2021-07-02 17:05] 747969780 commented on #597
+1， 近期443端口被封，但其他开启的端口没问题，然后换成4413，今天又被封了，服务器上除了这两个端口，其他开启的端口都访问正常

[2021-07-02 17:08] 747969780 commented on #597
我也是中午看了油管后被封

[2021-07-02 17:09] aperioristo commented on #597
前来汇报，443 over~
上次64也是前后封锁了5天，这次71是29号开始至今，目前还没解封。
我“认为”应该是无差别封锁疑似IP的端口。
比如监测到这个IP长期大流量，或者是长期由固定的几个国内用户对其链接并保持大流量。
我“认为”可能增加伪装站的流量和IP数量或许可以解决此事。
比如伪装站做成一个资源更丰富的视频网站，然后长期用流量精灵跑PV。

[2021-07-04 01:17] Mao-jiawei commented on #597
伪装怕是墙在偷笑

[2021-07-05 10:43] Krysme commented on #597
你们是不是用的香港的？我这边香港的主机443端口被墙，但是美国的那台就还好。

[2021-07-05 20:10] aperioristo commented on #597
对，的确是香港的，不过今天上午已经恢复正常了。

发自我的iPhone

[2021-07-06 00:46] kgiflwl commented on #597
今天发现443端口已恢复。此前发现被封以后我主动关闭此端口5天，并无其它操作。
看起来只是发现单端口持续大流量进行的无差别封锁，GFW并不能认定，所以敏感时间过后主动解封。

[2021-07-06 00:51] #597 closed, assigned to GreaterFire

[2021-07-06 05:15] jacklee789 opened #601 "希望trojan软件可以显示tls证书的关键信息"
有些trojan节点采用不可验证自签名tls证书，之前是可以翻墙的。
但现在墙审查tls证书，这些trojan节点的443端口已不能翻墙了，非443端口暂时还可以翻墙。

下面这个网站可以查看Trojan节点的服务器是否配置了可验证的tls证书
https://www.websiteplanet.com/zh-hans/webtools/ssl-checker/

下面两个网站的trojan节点都配置了可验证的tls证书。
EDITed by wongsyrone: **_[ADs removed]_**

[2021-07-06 07:08] Chigusa0w0 commented on #601
Closed (Suspected Ads)

[2021-07-06 07:08] #601 closed, assigned to GreaterFire

[2021-07-08 11:21] aperioristo commented on #597
对，我已经几乎确定是宁可杀错不可放过式的对所有可疑IP的可疑端口进行封锁。
为了避免误杀，并没有封IP和其他端口，并且也会主动解封，避免影响过大。

我准备将端口切换到宝塔面板的888端口，等待下次规模封锁看看会不会有好的结果。

[2021-07-10 08:12] hasbai opened #602 "[BUG] 时而断连，报 SSL handshake failed"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0

**Describe the bug**
每次加载新的页面都会断开连接，浏览器报错ERR_C

[2021-07-10 11:15] yoursbest commented on #602
今早开始遇到了同样的问题，昨天还是好的。

Environment
服务端：Ubuntu20
客户端：iOS Shadowrocket

注：
服务端是nginx+trojan+ssl (by let's encrypt)。
将trojan替换成trojan-go后，nginx与ssl保持不变，则可以正常使用。

[2021-07-11 01:21] crackfan opened #603 "[BUG] SSL handshake failed with xxx.xxx.xxx:443"
- centos7
- nginx
- trojan+ssl (by let's encrypt)

[Trojan] [2021-07-11 09:19:17] [INFO] 127.0.0.1:51548 disconnected, 0 bytes received, 282 bytes sent, lasted for 0 seconds
[Trojan] [2021-07-11 09:19:17] [INFO] 127.0.0.1:49868 requested connection to chromiumextension.com:443
[Trojan] [2021-07-11 09:19:17] [INFO] 127.0.0.1:49868 disconnected, 0 bytes received, 282 bytes sent, lasted for 0 seconds

[2021-07-11 02:04] ArcCal commented on #602
很明显 @klzgrad 几年前的担心终于变成现实了

[2021-07-11 04:54] ShoukakuChuuCC commented on #602
墙的再升级吗？我也断连了 trojan-go+ws+tls，换tcp有所改善

[2021-07-11 06:04] sheiy commented on #597
已恢复。。。

[2021-07-11 13:45] crackfan commented on #602
哎。。。技术难搞

[2021-07-11 15:15] stella4th opened #604 "根据教程检查服务器可以访问成功，但是连接的时候一直提示certificate verify failed"
根据教程一步步设置，在浏览器访问ip、https://ip，以及使用域名访问都是可以上得到网站的。但是连接的时候就会提示:

SSL handshake failed with xxxxx.xxx :443: certificate verify failed

请问这是什么原因呢？

[2021-07-12 00:35] #603 closed, assigned to GreaterFire

[2021-07-12 12:09] hasbai commented on #602
换成trojan-go后依然断连，请问你的配置是什么？

[2021-07-12 20:33] InsomniaWenting commented on #234
Modify trojan.service

--ExecStart=/usr/local/bin/trojan /usr/local/etc/trojan/config.json
++ExecStart=/usr/local/bin/trojan -c /usr/local/etc/trojan/config.json

Please also confirm the path of trojan & config.jason also.

[2021-07-12 22:06] GreaterFire commented on #234
@InsomniaWenting -c is optional.
Also this file only serves as an example.

[2021-07-15 02:50] jxjsky45-wq commented on #602
遇到同样的问题，请问有解决方法吗？  手机端打开正常的

[2021-07-15 23:47] klzgrad commented on #602
我暂时在这做点笔记。

我也有类似情况，但可能跟trojan并没有关系。

TLS直连正常网站，会出现几次reset，然后又恢复正常。reset很明显是GFW注入的。判断依据是(1)连发3个reset，序列号分布均匀；(2)IP TTL与原站点不一致，而且>64。

![1](https://user-images.githubusercontent.com/9764056/125871304-2a69b04f-8dba-480e-828c-6a929d8c4a2d.png)

然后很快就好了

![2](https://user-images.githubusercontent.com/9764056/125871516-5b94ceb2-c65e-4c1a-a557-581a848a6613.png)

[2021-07-16 01:26] ghost commented on #602
Trojan需要升级啦，7月开始就一直这样了。

[2021-07-19 07:27] Bryan2333 commented on #602
会不会跟这事有关：https://www.v2ex.com/t/788719

[2021-07-21 04:45] popococo-hanks-bocan commented on #602
2021-7-20开始，遇到同样的情况，每开一个网页都会先连不上，然后自动刷新脸上。日志记录ssl handshake failed.

[2021-07-21 06:00] binarrii commented on #602
最近2周开始遇到这样的问题，然后把墙外的服务器换了个IP就好了，但是才过了两三天又这样了，基本判定是墙又升级了！

[2021-07-22 23:10] testcaoy7 commented on #534
支持RDRAND是应该的，不过目前我用haveged来给/dev/urandom补entropy

[2021-07-23 02:14] johnshuxian commented on #602
浏览器开启Experimental QUIC protocol 实验特性，可能会有改善

地址栏输入chrome://flags/  打开Experimental QUIC protocol就好了

[2021-07-23 04:06] Bryan2333 commented on #602
我这边就没啥事

[2021-07-25 07:35] TangBoheng opened #605 "windows 客户端不能启动"
今天突然windows 客户端不能启动，类似于闪退。查了杀毒软件黑名单之类的没有在里面。有没有地方可以输出日志查看原因？

[2021-07-25 07:59] #605 closed, assigned to GreaterFire

[2021-07-25 07:59] TangBoheng commented on #605
端口被占用了

[2021-07-28 14:39] Tun2Sucks commented on #602
遇到这问题的是不是都是电信用户？

[2021-07-29 13:50] jayzch commented on #579
求增加arm版本

支持Mac M1

[2021-07-30 07:39] jxjsky45-wq commented on #602
![微信图片_20210730153847](https://user-images.githubusercontent.com/19322378/127618516-1913066f-0580-42dd-8be3-187413573064.png)

[2021-07-30 07:40] jxjsky45-wq commented on #602
估计和IP无关，前段时间出现了，过了几天恢复正常了，今天又来了

[2021-08-09 04:12] boluoyu commented on #604
提示 fullchain.cer 证书不存在吧，默认是在当前目录，或者在配置文件 "verify": false,

[2021-08-09 06:38] ansiz commented on #318
CentOS下也有类似问题，目前靠定时重启

[2021-08-12 11:42] eroica-zhao commented on #318
在gcp上尝试了各种系统，debian 10，ubuntu18，centos7/8。。。都有这个cpu占用高，导致服务器停止响应的问题。
一直不敢用，等待版本更新等一年了，没看到更新。
眼巴巴等debian升级到11再试试看。。。

[2021-08-20 07:11] sheiy opened #607 "如何代理到https的remote addr"
![image](https://user-images.githubusercontent.com/12210038/130194591-f029a411-6015-4c70-9e61-745acfb6e5e9.png)

[2021-08-20 07:12] sheiy commented on #607
@felixonmars @xsm1997
https://github.com/sheiy/trojan
我想实现多remote add 代理  通过http header 里的host来区分走哪个remote 服务
现在代理http的remote addr可以  但是https的不行

[2021-08-21 15:59] icpz commented on #607
I think the behavior you described is by design. Trojan performs TLS termination on those fallback requests. So you should not put a https host in the remote_addr field.

[2021-08-23 05:24] sheiy commented on #607
@icpz Is there have some way to support https host in the remote_addr field?

[2021-08-26 20:16] imliuruiqi commented on #318
@GreaterFire
sry for the spam. It seems that more users are encountering this issue recently, maybe we should reopen it.

[2021-08-31 10:52] chainofhonor opened #608 "请问用hyper-v安装的OPENWRT21.02.0-rc4怎么使用这个软件"
RT
我原来用一台centos7装trojan单独使用
现在想集成到路由器里面

我先是在路由器里面设置了IPSET
然后centos7里面开了trojan-nat和trojan-forward
然后路由器的dns转发到forward解析,正常了
但是nat始终不成功
iptables -t nat -I PREROUTING 1 -m set --match-set CN dst -j RETURN
iptables -t nat -I PREROUTING 2 -p tcp -j DNAT --to 192.168.11.21:1081
这是路由器上设置的

我发现好像trojan-nat模式只支持本机转发,
然后把trojan文件复制到路由器里面
但是无法运行
请问这个要怎么弄?

[2021-09-01 06:10] chainofhonor commented on #608
妥协了,不用openwrt了 改用rockylinux当软路由了

[2021-09-01 07:28] chainofhonor opened #609 "[BUG]开了forward和nat访问google还是不行"
用一台rockylinux当软路由
eth0是内网
eth1是外网
firewall开启转发
然后下面的客户端可以正常访问网络了

然后开始配置
国外的一台服务器上配置好了server
在软路由上配置了forward和nat   ipset也设置好了

实测访问国外IP的网站的时候会正常的从nat走
解析域名也能正常的走forward

访问部分网站比如github正常
但是访问google就提示网络异常

软路由配置client模式,然后浏览器用switchyomega插件的话就是正常的
但是我想弄全局的,就像上面那样操作了,不知道为什么会有部分网站异常

[2021-09-01 07:43] chainofhonor commented on #609
......找到原因了
dnsmasq开了缓存 解析的还是缓存的被污染的地址
把dnsmasq的缓存功能关闭就正常了

我写了个脚本全自动的把"解析的IP是国外"的域名自动添加到5353端口
技术有限,只能用这种笨办法
感觉DNS服务器应该出一个功能的,自动统计那些域名的IP地址是国外的,然后把这些域名自动转发到5353端口去解析

[2021-09-08 07:48] Metric640 commented on #609
Trojan不再开发了吗？

[2021-09-10 14:59] #609 closed, assigned to GreaterFire

[2021-09-10 14:59] #608 closed, assigned to GreaterFire

[2021-09-10 15:02] Chigusa0w0 commented on #607
If you want to dispatch requests to different services, you may need to use other tools, like nginx or haproxy (#131), to do that. Trojan is not designed to be used as a dispatcher.

Trojan can not connect to HTTPS backend by implementation. If you have to do that, I believe you should setup a local proxy to wrap the HTTP request with TLS (for example, by using reverse proxy).

[2021-09-11 16:13] xh116 commented on #602
我今天也遇到了

[2021-09-16 05:22] sheiy commented on #607
@Chigusa0w0 ok thanks

[2021-09-16 05:22] #607 closed, assigned to GreaterFire

[2021-09-21 06:34] redstoneleo commented on #602
会不会是这个原因https://www.v2ex.com/t/799816
时断时续的

[2021-09-21 08:43] Bryan2333 commented on #602
不是，这是DNS解析问题，和断连没太大关系。

[2021-09-29 16:32] ExpressVPNOfficial opened #610 "[BUG]"
It is not supporting UDP protocol which is essential for Good WhatsApp call. How can we enable good WhatsApp call?

[2021-10-02 07:19] ExpressVPNOfficial commented on #610
Any update?

[2021-10-04 14:57] AmibaWorld opened #611 "[BUG]SSL handshake failed: Connection reset by peer disconnected, io: read/write cloed on pipe"
Oct 04 22:39:45 trojan[1485]: [ERROR] xxx.xxx.125.232:286 SSL handshake failed: Connection reset by peer
Oct 04 22:39:45 trojan[1485]:  [INFO] xxx.xxx.125.232:286 disconnected, 0 bytes received, 0 bytes sent, lasted>
Oct 04 22:39:46 trojan[1485]:  [ERROR] xxx.xxx.125.232:287 SSL handshake failed: Connection reset by peer
Oct 04 22:39:46 trojan[1485]: [INFO] xxx.xxx.125.232:287 disconnected, 0 byte

[2021-11-02 02:54] edoger opened #612 "trojan.service: Special user nobody configured, this is not safe!"
On Fedora 34
[code]
Maybe you should delete the user configuration, or create a dedicated user during installation.

[2021-11-11 07:24] wududu123 commented on #602
之前用vultr的 Dallas服务器跑v2ray，一般几个月换一次ip， 最近都不行了。昨天转trojan，一直是这个问题，根本用不了。

[2021-11-11 16:27] zfdang commented on #611
trojan现在基本上没法用了，一旦连接上，立刻被reset. 回归ssr了

[2021-11-12 10:54] redstoneleo commented on #602
我换这个之后稳定了，估计还是要有伪装网页吧？
https://github.com/mack-a/v2ray-agent

[2021-11-13 12:20] cbdyzj commented on #469
Hi, you can simply write a small script of dozens of lines to do the conversion, here's a node sample

[code]

[2021-11-16 13:24] Lyoko-Jeremie commented on #469
@cbdyzj Thank you very much ~

but i was implement a full-functional tools for resolve socks2http & loadbalance require .
see this: https://github.com/Socks5Balancer/Socks5BalancerAsio

---
BTW, nodejs ( JS ) implement have major performance problem , i created it for a demo of above tools.
see this : https://github.com/Socks5Balancer/Socks5Balancer

[2021-11-18 00:53] alongL commented on #371
https://p4gefau1t.github.io/trojan-go/advance/forward/
maybe this page explain more about forward mode.
and can help you to use forward.

[2021-11-18 01:14] alongL commented on #463
明显是证书有问题，导致一直handshake failed。
好像是要用 fullchain.cer那个文件。
"cert": "/root/.acme.sh/fullchain.cer",

[2021-11-18 01:48] alongL commented on #443
看起来trojan-go像是支持这种模式的：trojan-go可以放在nginx后面
https://p4gefau1t.github.io/trojan-go/advance/websocket/

[2021-11-18 03:54] BirdSnail commented on #436
如果你正在使用**trojan windows**客户端，请确保使用的`conf.json`配置文件中本机地址属性不为`"local_addr": "127.0.0.1"`。
127.0.0.1意味着只会监听来自本机的流量，局域网中其他机器是无法访问的。

要想共享给局域网中其他机器，请指定本机地址为`"local_addr": "0.0.0.0"`
![image](https://user-images.githubusercontent.com/39896910/142347929-5b9c8547-7a9f-4927-b2e1-9b827352bf4e.png)

[2021-12-09 03:07] luuillu opened #613 "[Feature Request] 是否支持在ssl server hello阶段，传输假证书，以哄骗GFW"
通信过程中使用的真实证书通常是没有备案的，容易被GFW阻挡。如果让GFW看到的是大厂已备案的域名，是否会降低阻挡概率？

具体操作是:
1. 准备实际通信过程中所需的真实域名对应的证书和秘钥文件CertA和KeyA
2. 找一个已备案的域名B(比如baidu.com),然后得到对应的证书CertB
3. 在torjanServer端设置CertA 和KeyA ,启动ssl Server。
4. torjanClient端连接Server的时候，先发Client Hello 包，客户端先把Client Hello 包中的SNI字段改成域名B，然后发给torjanServer
5. torjanServer 给客户端返回Server Hello后，会下发证书CertA，在server端拦截这个证书，替换成CertB， 发给torjanClient。
6. torjanClient收到CertB

[2021-12-16 06:33] HenryYuen-ai opened #614 "[BUG]"
● trojan.service - trojan
   Loaded: loaded (/etc/systemd/system/trojan.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Thu 2021-12-16 14:30:36 CST; 46s ago
     Docs: https://trojan-gfw.github.io/trojan/config
           https://trojan-gfw.github.io/trojan/
  Process: 1100 ExecStart=/usr/local/bin/trojan /usr/local/etc/trojan/config.json (code=exited, status=

[2021-12-21 08:31] xkjdox commented on #131
error stream :(

[2021-12-23 01:37] gitndv commented on #289
I'm having the same problem

[2021-12-23 02:04] gitndv opened #615 "[BUG] 500 Internal Privoxy Error"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0

**Describe the bug**
Very frequently run into

[2021-12-28 02:37] Winjackpot6666 opened #616 "vault21.digi.com.my"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
The version of trojan you are using.

**Describe the b

[2021-12-28 05:38] #616 closed

[2022-01-06 09:57] shawokou123 opened #617 "如何在termux上编译 trojan"
运行环境：
未root的 termux

求助问题：
如何在termux上编译 trojan

[2022-01-07 00:57] waynezhangw commented on #611
trojan现在为啥没法用了呀？

[2022-01-07 05:24] shawokou123 commented on #617
以上问题已经解决，大家可以按如下办法，在termux上安装、编译 使用trojan，不需要root:
1、
apt install cmake boost mariadb
2、
cd $TMPDIR
3、提前挂上其他代理，让终端可以科学上网
4、
git clone 'https://github.com/trojan-gfw/trojan.git' --depth=1
5、
cd trojan
6、
cmake -DMYSQL_INCLUDE_DIR=$PREFIX/include/mariadb/ -DCMAKE_INSTALL_PREFIX:PATH=$PREFIX .
7、
make
8、
make install
9、至第8步，整个编译完成，直接使用：
./trojan -c xxx.json
即可使用

[2022-01-07 05:43] #617 closed, assigned to GreaterFire

[2022-01-10 18:07] magodo commented on #612
Also observed on archlinux using the upstream package from pacman.

[2022-01-17 04:35] netheril96 commented on #613
你自己弄的baidu.com的证书必然是假的，GFW一看就知道你在使坏

[2022-01-28 18:32] free-znet opened #620 "[BUG] SSL handshake failed with xxx.com:443: certificate verify failed"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**

1.60.0

**Describe the bug**

我在ios上面使用 trojan，由于 部分代

[2022-02-01 18:23] chainofhonor opened #621 "[BUG]TROJAN connects a lot of unnecessary IPs"
**Trojan Version**
1.16.0

**Describe the bug**

I used this software and was warned by the administrator by email many times.
I didn't take it seriously at first, and then once I was really curious, so I used the [netstat -ant|grep "serverip:443"] command to check the connection
Then I found out that the service connects a lot of unnecessary IPs
Then I use the following iptables rule to release m

[2022-02-01 20:23] Chigusa0w0 commented on #621
It *MIGHT* be normal. Since Trojan will forward unauthenticated requests to a backend website, there would be a chance that those IPs are some viewers/crawlers/attackers whose real target is your website.

Though this is the most possible situation, you should not rule out others. For example, an unintended password share/breach might make your installation go "public". Also, your installation of

[2022-02-02 04:34] ningfeiyu commented on #597
之前好像也是这么回事，法定节假日就会这样几天。。。。真是有病。

[2022-02-02 04:39] doghappy commented on #597
443 这两天再次被封，是直接封锁高危ip段吗？

[2022-02-02 04:59] ningfeiyu commented on #597
我感觉就是敏感节日就会这样。。。

HeroWong ***@***.***> 于2022年2月2日周三 12:39写道：

[2022-02-02 17:07] 469312306 opened #622 "Trojan server 无法被连接"
安装并配置完server后，运行trojan，无任何输出。客户端运行trojan，显示“cannot establish connection to remote server xxxx 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败”。请大佬们提供debug思路，谢谢！server和client端均使用模板，仅替换了remote_addr为我的服务器域名

[2022-02-02 18:40] 469312306 commented on #622
经查，是443端口挂了。下面这个网站可以看：
https://www.toolsdaquan.com/ipcheck/
原因估计是我用华为应用市场更新了igniter。大家不要手贱更新了。

[2022-02-02 18:41] #622 closed, assigned to nobody

[2022-02-05 15:54] TangBoheng opened #623 "如何查找log文件"
`

。`
更换了证书本来可以用，一天后突然显示主机没有反应。
不断返回这个错误，已经更换过证书，也PING通ip，不清楚哪里出了问题

[2022-02-08 10:26] luuillu commented on #613
baidu.com的证书可以直接从baidu.com网站下载，和baidu.com建立ssl连接就取到真实的证书了。所以可以得到真实的证书，只是得不到证书对应的私钥。然而GFW没法确认我只有证书而没有私钥。

[2022-02-08 11:33] Chigusa0w0 commented on #613
This design will break existing installations and may prevent normal browsers/active probers from validating the cert.

We will not consider this proposal. Yet, you can fork and develop it yourself.

[2022-02-08 11:33] #613 closed, assigned to GreaterFire

[2022-02-09 15:05] hudingwen opened #624 "能否编译一个arm版本的呢?"
能否编译一个arm版本的呢?
arm版本提示不支持,试了源代码编译没成功 哈哈

[2022-02-11 10:57] free-znet commented on #597
我也被封了，443端口，不过我没使用后过了几天又好了，要是能支持 cdn 就好了。。

[2022-02-14 02:38] hudingwen commented on #624
Oracle Linux 7.9 Arm版本 能否帮忙编译个呢?

[2022-02-15 10:28] MeIsReallyBa opened #625 "[BUG]Memory leak"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
  Trojan 1.16.0
**Describe the bug**

On a padavan fir

[2022-02-16 04:59] MeIsReallyBa commented on #625
 After using hanwckf's static version, the memory leak issue disappeared. The gcc version in padavan is gcc7 while hanwckf's static version is using gcc 10. Is it because the gcc version used in padavan too old caused the memory leak?

https://github.com/hanwckf/Trojan-pdv-build

[2022-02-18 06:47] facelezzzz commented on #623
如果是官方教程安装且是service方式启动 可以使用 ` journalctl -u trojan -f` 跟踪最新日志

[2022-02-18 07:53] ningfeiyu commented on #597
过年期间封了半个月443端口，今天试一下又好了。中间还重新安装了一遍
不知道咋回事。。。

trojan ***@***.***> 于2022年2月11日周五 18:57写道：

[2022-02-21 10:16] KaKaLt commented on #529
I also meet the same problem, How can I solve it？ thank you very very much!

[2022-02-21 13:49] omaidb commented on #620
Linux也有同样的问题
[code]

[2022-02-22 01:55] omaidb commented on #621
Please answer the question directly, can you provide the MD5 value

[2022-02-24 16:06] lllllmaster-lulllll commented on #614
这是为啥啊  有什么解决方案吗

[2022-03-02 07:45] xemaco opened #626 "请问怎么卸载"
在Debian的VPS上用脚本命令sudo bash -c "$(curl -fsSL https://raw.githubusercontent.com/trojan-gfw/trojan-quickstart/master/trojan-quickstart.sh)"
安装了服务端，现在像卸载请问需要怎么操作，不好意思，小白一枚。。

[2022-03-02 09:15] moonpole opened #627 "Does this project still in development?"
It seems this project haven't updated since Nov 2020. Does this project still in development?

My primary concern is the safety of GreaterFire and the seconds is: is it still unidentifiable by the GFW?

[2022-03-02 20:11] GreaterFire commented on #627
@moonpole Hi! Thanks for your concern. I'm perfectly fine, just shifted my interest to other stuff in my life. As for the protocol, I don't think it's identifiable, but GFW is clearly taking actions to block port 443 indiscriminately.

[2022-03-03 02:57] chenmin1992 commented on #597
我也被封了，443端口，伪装站是一个 html 模板，封之前使用腾讯云的轻量服务器通过 iptables 转发流量来着，从 2022/02/25 到 2022/03/02 期间封禁，3号早上通过 https://port.ping.pe/ 测试端口已经解封，服务可以正常使用。
麻烦官方作者查看一下是不是被识别了流量，还是其他特征识别的。

[2022-03-03 03:11] keengrass commented on #597
和流量大小有关系。BAN了解了，解了又被ban， 换端口也是一样，最近一直在反复。感觉这个脚本已经不能再用了。

[2022-03-03 08:55] moonpole commented on #627
@GreaterFire I'm glad to hear that. Thanks for developing such a great software to the world.

[2022-03-03 14:35] zais commented on #511
@Motophan any luck with traefik and trojan?

[2022-03-04 02:10] ningfeiyu commented on #597
你是一直看YouTube吗？我改了一次端口后现在就没ban了。我之前就是会看youtube直播，视频。说说你们被ban之前的操作看。

keengrass ***@***.***> 于2022年3月3日周四 11:11写道：

[2022-03-04 02:11] #627 closed, assigned to nobody

[2022-03-05 15:36] edfus opened #628 "[Feature Request] Proper IPv6 to IPv4 Fallback for Unreachable AAAA Addresses"
A retry over IPv4 should be requested if connections to the IPv6 address of a domain can not be established, and that is a common practice among network clients.

Consider following examples:
1. The AAAA DNS record of `fallback-v6.ipv6-test.com` is intentionally set to a reserved IPv6 address `2001:41d0:701:1100::fa11:bac`.
2. Domain `www.bis.doc.gov` has an unroutable IPv6 address `2600:80c:d20:6

[2022-03-06 14:47] mem0rz commented on #624
In fact, the wiki has written clearly how to compile. https://trojan-gfw.github.io/trojan/build
This is very easy to do.
I compiled it under debian bullseye arm, not sure if this file will work on oracle linux 7.
[trojan.zip](https://github.com/trojan-gfw/trojan/files/8192818/trojan.zip)

[2022-03-06 15:25] yangq212607 commented on #602
我的换其他端口就好了，不要用默认的443端口了。

[2022-03-08 03:46] hudingwen commented on #624
thanks. i used trojan-go

[2022-03-09 17:45] RyanLee-Dev commented on #602
不使用默认443，瞬间修复

[2022-03-20 17:30] ConfusedLolo commented on #602
几位是443端口被墙了吧？

[2022-03-21 09:25] NadamHL commented on #513
更换了fullchain  certification file 。依旧报错

[2022-03-21 09:26] NadamHL commented on #513
客户端报错
![image](https://user-images.githubusercontent.com/39847290/159234160-6aa07fcf-6f29-4f45-9644-761c15590000.png)

服务端报错
![image](https://user-images.githubusercontent.com/39847290/159234280-57e56ce0-bfc9-4d0d-86d3-ce20e0dc502e.png)

[2022-03-24 04:18] sym2rr opened #629 "No Response from Trojan Server"
I have 4 servers in total deployed with trojan installed. Three of them went dark last night. I found that all of their website behind the trojan is accessible. E.g. you can open Chrome and access the website just fine. However, I can't get the client to connect to the server.

And the server log only shows [FATAL] trojan service (server) started at 0.0.0.0:443

I tried to renew cert, no help. Als

[2022-03-24 04:20] sym2rr commented on #629
The only one that survived machine behave just fine, not sure what happened to the other three. All of them are in the same data center and are the same type of KVM. Installation process is exactly the same, and there's no other process running on all 4 machines, only trojan.

[2022-03-27 12:20] asdfzxh8 opened #630 "[BUG] Suddenly can't connect?"
It's been fine for many months, however, today it suddenly stopped working? Does this happen to anyone else using Trojan? The remote server could still be pinged or ssh'ed but browsing does not work any more.

[2022-03-27 12:21] #630 closed, assigned to GreaterFire

[2022-03-31 16:06] Sweet0range commented on #602
情况一样，同样电信

[2022-04-01 03:37] lalinking commented on #597
被封来报道。
同样是443阵亡，80仍然正常。
我是俄罗斯的vps。

[2022-04-02 14:13] marksugar commented on #620
@omaidb @GreaterFire
Not working properly on centos7.9
[code]
Is there any solution
thanks

[2022-04-03 06:18] cattyhouse commented on #620
@marksugar @omaidb

你们客户端有没有指定 cafile 路径?

首先获取你的系统的 cafile 路径:
[code]
然后把这个路径填入客户端的配置里面, 比如 archlinux 上是这个路径 :

[code]

macOS 是 `/etc/ssl/cert.pem`

trojan 的文档里面有提到

[code]

意思是这个如果留空, 那么就会依赖 openssl 去获取这个路径, 大概率会失败... 所以建议手动指定

[2022-04-03 07:40] eelzs commented on #597
我是2月开始出现被封，更换ip后，大约2周会再次封，平常不看视频，只搜索资料时用用。

[2022-04-03 07:48] Mao-jiawei commented on #597
我有个方案 写个crontab任务  每2小时stop一次trojan  当要用的时候登录服务器手动起服务

[2022-04-03 22:29] bitcodee opened #631 "SSL handshake failed: sslv3 alert certificate unknown"
大佬们好，

已经重新更新过证书，但是还是会出现这个问题，请问如何解决。

谢谢

[2022-04-05 08:42] yufeiluo opened #632 "Why can't use SSL certificate created by cloudflare ?"
Login int my account in cloudflare,go to :
[code]
Push into my vps:
[code]
Set in my local machine:
`cp  cert.pem   trojan/ca-cert.pem`

Start the trojan service,so many errors occurs:

SSL handshake failed with xxx.xxx.xxx.xxx:443: certificate verify failed

If i set  false for `verify` and `verify_hostname` in config.json:
[code]

Restart trojan again,it works fine!

How can set the value of ver

[2022-04-07 03:37] billowing commented on #597
我今天也被封了，今年被封了很多次了，腾讯云的轻量服务器，好像也是昨天看了油管，今天就挂了.......

[2022-04-10 08:16] yufeiluo commented on #620
按照你说的办法做，仍旧有问题。

[2022-04-10 11:48] msl4437 commented on #624
[trojan-arm.gz](https://github.com/trojan-gfw/trojan/files/8458878/trojan-arm.gz)
我这里编译了一份ARM的程序，已经在debian/ubuntu/alpine/centos测试运行

[2022-04-13 05:51] Yangtzeus commented on #597
#可以发现，在被封的例子中基本都有个共同点：都是在流量大量交换后被封（如看youtube视频）。个人认为GFW目前由于trojan的特殊的一般性（使用最常见的https）无法辨认一个网站是否存在代理，因而对短时间内大流量交换的网站进行端口阻塞TCP封锁(阻断)。解决端口阻塞，若单纯地更换trojan端口，引用一段话回应：“GFW之所以单独封一个端口，可能原因就是吃不准到底是不是代理，如果你很快就换了端口继续做代理，那么GFW就认为很大概率是代理，于是就可以封禁了。”（此处的封禁包括但不限于：封ip，DNS劫持，TCP RST阻断）So，那么目前可靠的解决方法便是套CDN（比如cloudflare），当然这是trojan-go才可实现的；或者更换为 v2ray（或xray）+ws+tls（但个人测试trojan-go+CDN效果好于v2ray+ws+tls）。最后补充一点：建议伪装网站用动态

[2022-04-13 05:55] aperioristo commented on #597
是的，我最近被封了很多端口，而最近和之前最大的变化是我和朋友都在居家看netflix。
所以我也认为是持续大流量造成的“宁可杀错不可放过”。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月13日(星期三) 中午1:51
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [trojan-gfw/trojan] trojan 使用 443 端口被封了 (#597)

#可以发现，在被封的例子中基本都有个共同点：都是在流量大量交换后被封（如看youtube视频）。个人认为GFW目前由于trojan的特殊的一般性（使用最常见的https）无法辨认一个网站是否存在代理，因而对短时间内大

[2022-04-13 16:06] ImArghya7 opened #633 "Is this Project Dead?"
It's a long time since a new version of the project has been released. So, can I assume that the project is dead?

[2022-04-14 03:11] DeepDanger69 opened #634 "pkg install binutils"
apt update && apt upgrade && termux-setup-storage && pkg install git && pkg install wget && pkg install ffmpeg && pkg install nodejs && pkg install nodejs-lts && apt install git

[2022-04-14 11:18] YongChingShieh commented on #597
根据我的观察  在ipv4的443端口会被封锁 但ipv6不会 理由如下
 在2台oracle的vps上分别搭建了v2ray 和trojan 同时开启ipv4和ipv6
经过一段时间后 搭建trojan的机器 ipv4 443端口被封锁 而ipv6没有问题  v2ray的ipv4和ipv6都没有问题

[2022-04-14 12:15] aperioristo commented on #597
所以，v2ray是什么原因导致没有问题？从理论来说，trojan不会被成功探测。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "YongChing ***@***.***&gt;;
发送时间: 2022年4月14日(星期四) 晚上7:18
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [trojan-gfw/trojan] trojan 使用 443 端口被封了 (#597)

根据我的观察  在ipv4的443端口会被封锁 但ipv6不会 理由如下
 在2台oracle的vps上分别搭建了v2ray 和trojan 同时开启ipv4和ipv6
 经过一段时间后 搭建trojan的机器 ipv4 443端口被封锁 而ipv6没有

[2022-04-15 10:14] YongChingShieh commented on #597
个人推测是和运行机制有关系 v2ray是在网站后面运行 而trojan是放在网站前面运行   请参考下面的图示 我在oracle上搭建也是和下面这个图一样
![Image1](https://user-images.githubusercontent.com/24885976/163559238-fc0f6a53-77dc-40d6-9d40-e81dc1a3dd5c.png)

[2022-04-15 14:23] Mao-jiawei commented on #597
nginx还能代理v2ray？

[2022-04-16 05:25] yufeiluo opened #635 "有无自签名证书使用成功的例子？"
我发现使用自签名，必须将verify设置成false ,如果verify是true，很多材料说：

[code]

我测试了，根本行不通。

[2022-04-16 06:40] YongChingShieh commented on #597
请参考下面这个

v2ray服务端:

  "inbounds": [{
      "port": 8080,
      "protocol": "vless",
     "settings": {
		   "decryption": "none",
        "clients": [{
          "id": "",//uuid
          "alterId": 64
        }]
      },
      "streamSettings":{
          "wsSettings":{
              "path":"/proxy",
              "headers":{}
          },
          "network":"ws",
          "security": "none"

[2022-04-18 02:39] lalinking commented on #597
我也是，不过我现在换成 nginx 走443，trojan 走80 （没换机器ip），一个月了暂时80没被封。

[2022-04-22 18:34] yyuurrii34 commented on #633
Think it's because this project is working quite well so that it needs no more updates.

[2022-04-24 17:23] dbugcn commented on #635
自签名的话，应该需要在客户端导入CA证书，如果客户端CA证书不受信任应该无法连接；虽然我没有试过Tro自签名，我在使用内网穿透自签名发现的，在Tro上应该同样实用，你可以试试。

[2022-04-26 10:18] xenstar commented on #633
Still, in the last two years many things update, maybe the developer will update some things which will enhance the performance.

[2022-04-28 16:07] redstoneleo commented on #626
同问

[2022-05-01 03:02] HappyLife-page commented on #597
v2ray: ws+tls+vless 两年多任何时候从未中断过，稳如泰山，无任何伪装站点和页面，默认nginx首页
trojan设计理念应该没问题，问题最大的地方在于，如果没有ws的path前置支持，任何伪装都没用。
这个逻辑是：v2ray的ws的path在被请求访问时默认是加密的，也即只有ws的支持才是最安全的伪装，任何人都获取不到你的真实访问url，这好比访问Java服务页面，浏览器地址栏是加密的一样，gfw不能因为这个地址是加密的就干扰你。
所以目前来看，最安全稳定的方案：ws是必不可少的（不使用ws而只靠伪装站，可能你的伪装站就是最大的特征）

[2022-05-01 03:07] HappyLife-page commented on #597
参考：https://www.happylife.page/107/2

[2022-05-09 07:21] LsnmxNB commented on #602
早就想到到443长期使用会有大流量，肯定会被重点关照的，提议让作者 @GreaterFire 有时间增加个动态端口解决这问题

[2022-05-09 09:40] Bryan2333 commented on #626
我觉得可以在VPS上安装一个locate，然后将trojan有关的文件都找出来删掉。
例如
[code]

[2022-05-11 07:18] HaomingJu commented on #620
Hi， you can try this: `sudo apt install ca-certificates`

[2022-05-11 07:18] HaomingJu commented on #604
try this `sudo apt install ca-certificates`

[2022-05-11 07:31] yatounoneko commented on #635
首先得讓你自己需要訪問Trojan的設備，安裝CA證書。

`"verify"：false` 只是讓客戶端不檢查所連接服務器的證書是否有效而已。

[2022-05-11 19:21] yyuurrii34 commented on #633
I've got some cases of port 443/tcp banned by GFW when using trojan,and so as I heard,these cases likewise are happening more and more in recent period.
from the reports and essays I read about,I made the deduction as following:
1.GFW works mainly in two steps, Suspect---->Detect/Analysis/Probe
2.one of the most mentioned way of active probing is called TCP relay attack
3.the port 443/tcp banned c

[2022-05-11 19:32] yyuurrii34 commented on #626
你这locate安装包哪来的？

[2022-05-11 19:46] yyuurrii34 commented on #602
墙似乎找到了方法对trojan的连接进行重放攻击，trojan-go的指纹伪造功能对这种攻击有一定抵挡。@GreaterFire

[2022-05-11 20:17] yyuurrii34 commented on #602
这样换端口是无法从根本上解决问题的，因为这不会使你的连接绕过GFW的审查名单，GFW目前可能没到100%确认trojan连接的程度，但封锁端口或限速足以满足某一时期的管控需求，即使任何主动侦测手段都无效，GFW也可能通过流量的时间分布和长连接数量等特征来添加可疑列表。
https://gfw.report/talks/imc20/zh/
这篇文章提到，outlineVPN和brdgrd可以通过**改变包的长度**，以绕过流量检测，达到减少被GFW主动探测。
另外，文中提到，GFW的重放攻击，并不是一成不变的完全重放，有时会改变字节，有时会发送若干组不同字节长度的包，以查看服务器的反应。其中强调了**一致性**，即服务器对各种relay作出的回应应该保持一致性，按照trojan设计原理，这种回应应该是类似于http error page,既然Trojan尝试模似https作出回应，我所知道的

[2022-05-11 20:39] yyuurrii34 commented on #552
as I mentioned in here #552 and here  #633 ，these points may help improove trojan:
1. **Change the length** of the net packs,like what OutlineVPN and BRDGRD do.
2. Make trojan more invulnerable against relay attack,including **consistency on server reply**,and **deactivate 0-RTT** in TLS1.3(it's activated by default)
@GreaterFire

[2022-05-12 02:23] yyuurrii34 commented on #602
请打开trojan-go里的指纹伪造功能，fingerprint:"chrome"

[2022-05-12 02:40] yyuurrii34 commented on #468
I'm afraid the log-with-time could help HTTPS identify the replay attack.

[2022-05-13 09:56] youjiajia-wc commented on #635
我ipv6的机器，需要先申请证书，再部署。
其中cert的值，是fullchain.cer
你试试

[2022-05-15 08:17] zccrs opened #637 "I want to use caddy reverse_proxy to trojan, Is it possible in principle?"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0

**Describe the bug**
I use the caddy transpond

[2022-05-21 12:33] Joryuan opened #638 "Application certificate timeout"
When I use acme.sh
When I use the following command with acme.sh `acme.sh --issue -d <xxxx> -w /var/www/<file_name>` apply certificate, The following error occurred:
[code]
How should I solve it?

[2022-05-23 14:25] wangzy0327 opened #639 "I use trojan in Ubuntu,but cannot access google[BUG]"
**Trojan Version**

./trojan -t /usr/local/etc/trojan/config.json
Welcome to trojan 1.16.0
The config file looks good.

**Describe the bug**
**When I run trojan, it shows as below:**
~/trojan$ ./trojan -c /usr/local/etc/trojan/config.json
Welcome to trojan 1.16.0
[2022-05-23 14:17:41] [WARN] trojan service (client) started at 127.0.0.1:1080

**Environment**
Ubuntu 20.04

**Additional context**
fir

[2022-05-28 13:09] eroica-zhao commented on #318
在debian 11上验证，1.16版依然存在这个问题。
后来尝试降级到1.15.1，运行几天下来很稳定，是否能请作者排查1.15.1到1.16之间的改动？
期待后续更新并能解决该问题。

[2022-05-29 06:48] superbetacat opened #640 "[BUG] Trojan server process crashed silently"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0

**Describe the bug**
Server process crashed si

[2022-06-05 19:48] breylinlee commented on #635
我以前用v2ray，今天换了个口味玩trojan，服务端用的就是openssl的自签名证书，而且没绑域名，纯ip，居然成功了。我一直都对tls心里有点恐惧，没想到整个过程令人难以置信的简单，半个多小时就完成了，好高兴啊

整个过程，我只通过openssl在服务端安装了自签证书，并在config指定了key和cert的路径；至于客户端，是windows版本的，不需要导入或指定任何证书，只是把"verify_hostname"设置了false，"verify"也设置成了false——当然这两个有没有必要设置，我也不知道。

我是参考（ https://stackoverflow.com/questions/51340872/can-i-certify-website-without-domain-name ）来给服务器自签证书的，真的特别简单。

所以我觉得，如果连接不上，估计不会是证书的问题

[2022-06-10 10:43] omaidb commented on #362
这个是centos7的证书吗，有人测试过可用吗？我晚点回去试下

[2022-06-23 08:11] misskiki opened #641 "[BUG] No route to host 百度谷歌很多都没有解决这个问题"
[2022-06-23 01:07:37] [ERROR] 45.77.247.27:35860 cannot establish connection to remote server clients4.google.com:443: No route to host

[2022-07-03 06:14] xywf221 commented on #641
先在服务器上 telnet clients4.google.com 443看看能不能通。服务器上都通不了，建议dd重做下系统

[2022-07-05 06:52] minnyres opened #642 "Will there be an official binary for Windows on ARM64?"
I can now build trojan with MSVC (no mysql support). Windows ARM64 users may have a test with the files below.

https://github.com/minnyres/trojan-windows-arm64/releases

[2022-07-07 15:15] indomalex opened #643 "error while running trojan: use_private_key_file: asio.ssl error"
**Trojan Version**
1.16.0

**Describe the ERROR**
My trojan cannot run.
Before starting trojan.service, I've obtained SSL Certificate from The Let’s Encrypt project without any error:
apt install certbot python3-certbot-nginx -y
certbot certonly --nginx

Also, config.json correctly edited; cert and key path correctly specified;

80,443 ports were opened;

but got this 'asio.ssl error' unsuspected.

[2022-07-10 14:56] KmooooU commented on #641
服务端禁用ipv6

[2022-07-11 00:31] chainofhonor opened #644 "有用香港阿里云的吗? 你们的会断流吗?"
我用香港阿里云服务器搭建的
然后经常遇到断流
断流的时候其他服务都没事,能访问80端口,能telnet登录,但是就是trojan断网
我重启客户端重启服务端还是不行
断网大概1分钟后恢复
我感觉可能是GFW的问题

我的解决办法是:平时使用IPV4 断网的时候我立刻切换到IPV6
但是IPV6确实慢很多
而且断网是不分V4V6的,都会断,反正断的时候我就切换到另外一种方式

大家用的是哪里的服务器,有遇到过这种断流问题吗?
我前几天看过微软AWS的服务器,感觉也不贵,有用aws搭建的吗?  稳定吗?

[2022-07-13 07:40] rawvoid commented on #644
遇到过，trojan客户端一直timeout，甚至telnet 443也不同，等过几分钟又正常了

[2022-07-13 07:45] rawvoid commented on #644
顺便说一下，用香港阿里云，如果你访问一些gfw限制的网站，怕是很容易被监控吧。从安全考虑阿里云用来中转更合适一些

[2022-07-13 21:05] chainofhonor commented on #644
你遇到这个问题的时候用的是哪里的服务器?

[2022-07-14 20:19] chainofhonor commented on #644
刚刚用阿里云日本服务器重新搭建了,没问题,不断流
然后想重装香港的服务器,结果在备份数据的时候感觉服务器好像中毒了
于是立马备份数据重装,重装以后好像就不断流了  对了,重装之前的系统是阿里巴巴的系统,重装的时候我选的rockylinux

[2022-07-14 21:45] chainofhonor commented on #644
别用香港的服务器了 香港的服务器不行了 刚刚重装的系统,防火墙都弄得好好的,结果现在又断流
估计就是墙的问题了

[2022-07-15 13:04] chainofhonor commented on #644
日本的也断流 只不过没有香港的那么严重  芭比Q了  下次试试其他厂商的服务器  坑爹的微软azure需要什么信用卡 蛋疼 收个钱都限制方法 咋了,这钱烫手啊

[2022-07-16 02:54] jiangxiaoqiang opened #645 "支持国内直连么"
可否配置国内直连

[2022-07-16 12:58] chainofhonor commented on #645
可以 我就是这样用的  服务器建议选国外的 别选香港的

[2022-07-16 14:12] jiangxiaoqiang commented on #645
你是怎么配置的啊，现在不管上任何网络都慢，估计是走了代理， 我用的trojan官方客户端

[2022-07-17 11:08] chainofhonor commented on #645
我用一台rockylinux当软路由
然后在这台软路由上配置了trojan的forward和nat
用的dnsmasq当DHCP和dns服务

iptables配置防火墙,国内的IP走正常出口 国外的IP走trojan-nat

[2022-07-19 08:41] #645 closed, assigned to GreaterFire

[2022-07-20 03:28] chainofhonor commented on #644
更新了证书 貌似不断流了 香港的也不断了

[2022-07-21 01:35] JamesK0621 opened #646 "如何强制走vpn访问国际版linkedin，而非默认不经vpn连接到国内版linkedin呢？"
有什么方式能让访问linkedin.com变成强制使用vpn吗？这样可以连到原汁原味的linkedin.com，而非国内阉割版的工作平台。有很多好友和信息，现在因为国内linkedin阉割而看不到了。真心希望得到你的帮助。

是在“编辑用户自定义PAC规则”里输入  ||linkedin.com    吗？

[2022-07-23 07:24] dorentus commented on #612
Simple solution: replace `User=nodoby` in `/usr/lib/systemd/system/trojan.service` with `DynamicUser=yes`.

ref:
- https://www.vvave.net/archives/fix-the-systemd-error-special-user-nobody-configured-this-is-not-safe.html
- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=969329

[2022-07-24 16:43] hugetiny opened #647 "trojan is included in awesome-vpn/wiki/Cores"
https://github.com/awesome-vpn/awesome-vpn/wiki/Cores

Please feel free to edit, add, and correct and maintain a complete public open wiki for VPN cores

[2022-08-01 05:53] commandblock2 commented on #635
我之前在换host_name_verification之前有一阵能用过自签的证书
因为有一次升级trojan的时候发现了这个问题，两台机器上的一个用不了，查了一下源码发现了
 https://github.com/trojan-gfw/trojan/blob/3e7bb9aecdc694f9bcae8d646fae395f773d60f8/src/core/service.cpp#L209
如果你可以做到的话可以试试直接改源码之后编译 这个操作简单点 **不确定是不是会有安全隐患**

或者
你可以自己先造个CA证书，然后用这个CA证书签发一个用于加密的证书给trojan用
CA证书应该是要装到客户端上的
而且给只ip上的ssl证书应该是要把sni设置成对应ip的如果没记错的话

[2022-08-03 09:04] chainofhonor commented on #646
提示:
域名解析

[2022-08-05 02:23] walkingstart opened #648 "希望能添加OpenBSD支持。"
如题，谢谢！

[2022-08-07 13:33] phper5 opened #649 "how can I forward a udp for dns"
I tried a long time, a lot of ways. after I set the rule such as`  iptables -t nat -D OUTPUT -p udp --dport 53 -j  REDIRECT --to-ports 1080`.  the dns is crashed and no log from trojan.

but if I use a normal dns and  forward the tcp to 1080 . I can visit the website and can see a lot of logs from trojan. but you know it is not safe. I want to forward the tcp and I need also forward the und for dn

[2022-08-09 10:03] 3406819948 commented on #648
我用的是64位OpenBSD 7.1，装完boost和cmake之后，加参数-DENABLE_MYSQL=OFF可以直接编译。

[2022-08-14 14:45] ldwnt commented on #410
I'm using Trojan-Go v0.10.5 and my certificate expires. Instead of having trojan working, I get this error:
[code]
Is there any way to bypass this? The attampts to renew the certificate always fail for both letsencrypt and zerossl today. And I really need to access google..

The option verify: false seems to work, but I'm not sure the consequences of using that option

Get the certificate renewed

[2022-08-16 05:21] phielin opened #650 "Bind multiple domain names in trojan configuration"
Hello I success recently to code my trojan for one domain name,

Than I putted two domain names in Nginx, it works

I didn't find answer about putting two domain names in trojan configuration, so I would like to know if it is possible please?

[2022-08-20 11:18] chainofhonor commented on #649
iptables -t nat -I PREROUTING 3 -i eth0 -p tcp -j REDIRECT --to-ports 1081

    "run_type": "forward",
    "local_addr": "0.0.0.0",
    "local_port": 5353,
    "remote_addr": "YOUR SERVER IP",
    "remote_port": YOUR SERVER PORT,
    "target_addr": "8.8.8.8",
    "target_port": 53,

LINUX client need both "forward" and "nat"

[2022-08-20 11:20] chainofhonor commented on #650
i think it is not possible
maybe you could bind the port not in 443
i bind trojan port in another number, it works well

[2022-08-20 11:21] chainofhonor commented on #648
希望添加openwrt支持

[2022-08-21 10:00] ghost commented on #592
I think you may set it on your VPS

[2022-08-28 13:22] Rosario9527 commented on #513
+1
有人解决了吗

[2022-08-29 02:51] hsl727261250 commented on #644
https://www.ljchen.com/archives/2402

[2022-09-01 06:05] redgreat commented on #626
关闭服务后，web还是自动启动的一直占着80端口，建议直接改下菜单里的关闭
1.trojan管理
2.停止trojan
内，把这个
[code]
进程也关掉，这样就能随意开启关闭服务了

[2022-09-01 06:17] redgreat commented on #626
直接
[code]
这俩指令也能全停了

[2022-09-04 09:59] chainofhonor opened #651 "Hope to add double encryption function"
It is better to encrypt the data in another way
so that even if it is attacked by a man in the middle, at least the data is safe
At present, I feel that there is a way to correctly identify the https data

[2022-09-05 10:15] Ltre commented on #617
你的是arm架构吗？我的照做不行

`$ cmake -DMYSQL_INCLUDE_DIR=$PREFIX/include/mariadb/ -DCMAKE_INSTALL_PREFIX:PATH=$PREFIX .
-- Configuring done
CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
/data/data/com.termux/files/home/mydir/bin/trojan/trojan-dev/Boost_INCLUDE_DIR
   used as incl

[2022-09-06 00:20] #650 closed, assigned to nobody

[2022-09-08 03:34] chainofhonor commented on #644
香港的还是会断 而且我用阿里云颁发的证书和在阿里云注册的域名 也会断 断的时候就443端口不能访问 80端口都正常
感觉就是我访问的东西其实GFW都知道
这技术太高级了

[2022-09-13 11:25] chainofhonor opened #652 "It is recommended to increase real traffic confusion"
Purely encrypted traffic is useless
I often use youtube to listen to music and it breaks

It is recommended to add real traffic confusion, and add real data to all requests
The ratio can be customized
For example, a 10K packet contains 5K real and 5K trojan traffic

In addition, I feel that the data should be decrypted, otherwise I can't explain why sometimes it works and sometimes it doesn't.
Any

[2022-09-14 10:43] oylbin commented on #643
any updates? I got the same error on ubuntu 22.04 , trojan 1.16.0

[2022-09-15 06:19] oylbin commented on #643
`sudo /usr/bin/trojan /etc/trojan/config.json` works fine.

So I took a look at `/lib/systemd/system/trojan.service` and changed
[code]
to
[code]
Now `systemctl start trojan.service` worked as expeted.

[2022-09-16 06:59] wangchuanyes opened #653 "[BUG]每次搭建trojan服务完成之后一个月磁盘就会占满是怎么回事？"
服务器磁盘容量20G，没有安装任何其他服务，不知道是哪里产生了垃圾文件，每一个月就会占满一次，然后我就重置系统重新安装trojan，一个月后又占满，这种情况已经有半年时间了。搬瓦工服务器的密码每次重置之后都是变化的，所以问题出在哪呢？

[2022-09-16 07:00] GreaterFire commented on #653
@wangchuanyes Maybe it's the logs?

[2022-09-16 09:32] wangchuanyes commented on #653
那请问您知道它的路径是在哪里吗？

[2022-09-17 03:31] xiaomimila opened #654 "1"
1

[2022-09-17 07:49] #654 closed, assigned to GreaterFire

[2022-09-22 20:55] 0xj0hn commented on #364
you have to create it

[2022-09-23 05:09] ggjjl1 commented on #644
我在Linode东京节点搭建的trojan，最近频繁断流，不知道什么原因
ping这台机器保持在70ms左右，ssh登录到这台机器非常稳定，24小时不掉线

[2022-09-24 23:56] chainofhonor commented on #644
貌似现在不断了 是我使用的方式有问题
之前我用nat模式 然后iptables转发 所有国外IP都走外网 结果就是这样异常断

现在我学会了新技能
dnsmasq有ipset的选项 解析的IP自动添加到ipset 我把指定域名添加了ipset 然后只对这些域名做iptables 就从来没断过了

[2022-09-28 02:32] wangchuanyes commented on #653
找到了，这是trojan生成的docker吗？容器一直在增长。/var/lib/docker/containers,里面有个容器。可以删除吗？

[2022-09-29 07:21] 0xj0hn commented on #632
I've also created a self-signed certificate but still doesn't work. It says SSL handshake failed!

[2022-09-29 07:24] 0xj0hn commented on #603
How did you fix it? @crackfan

[2022-09-29 10:57] jacklu2016 commented on #645
怎么配置的？ 老哥

[2022-09-29 12:08] arloan commented on #631
I encount the same problem, trojan client handshake failed due to this error, while the fake https site works fine with correct ssl cert.

EDIT: I fixed this problem by modifying trojan's config, using fullchain.pem instead of cert.pem, while another [comment](https://github.com/trojan-gfw/trojan/issues/29#issuecomment-379140220) says one should use cert.pem to avoid this error, really interesting

[2022-10-08 03:41] xyanrch commented on #640
I implemented  another proxy service of trojan protocal with better perfermance and stability. https://github.com/xyanrch/overplus

[2022-10-08 03:44] xyanrch commented on #633
I implemented  another proxy service of trojan protocal with better perfermance and stability. https://github.com/xyanrch/overplus

[2022-10-09 04:41] lostact opened #655 "[BUG] mysql incorrect password"
- [x] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below, or I'm using an old version of trojan, or I apparently fail to provide sufficient information (such as logs, specific numbers), or I don't check this box, my issue will be closed immediately without any notice.

**Trojan Version**
1.16.0

**Describe the bug**
Trojan server declines re

[2022-10-13 02:56] hmgdd101 opened #656 "请问有没有使用手册"
- [ ] I certify that I have read the contributing guidelines and I acknowledge if I don't follow the format below or I don't check this box, my issue will be closed immediately without any notice.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is this problem relevant to what trojan

[2022-10-13 13:16] superbetacat commented on #652
TLS 怎么解密。。。
最近也遇到经常断，，，，怀疑是无差别封锁但是没有证据

[2022-10-13 13:19] superbetacat commented on #644
最近经常断。。。aws，vultr，Azure都用过，，，一样。。。是不是会议的原因呢

[2022-10-14 02:38] Scared-Heart commented on #652
+1 ,端口稳定被封

[2022-10-15 06:05] kgiflwl opened #657 "致敬Trojan五周年"
这不是一个Trojan issue，这是专制的issue。

Trojan五岁，两年前被Telegram Trojan Channel拦在外面，一直保持关注。看到随写感想，无奈到此回应。

首先表达感激之情，涓涓细流带来思想的养分，滴水亦知恩！其次，Trojan不死，其变种和发展充分延续着星星之火。某些组织拿捏着分而治之，这类项目注定难以由众小白围绕大大进行声势浩大的开发，fork再fork，derive再derive才是延续下去的主旋律。纵然有很多精致利己主义者，但非所有受迫害者都麻木不仁。Trojan理论正在被广泛的运用，越来越多的人逐渐清醒过来，我们不着急，几代人的时间又如何，终有一天会扯断那根稻草。这是一个新的时代，如果鲁迅先生活在当下，大概率已被思想警察请到友爱部的地下室了，而Trojan理论是回应他们的有力武器。

仅以此表达大火酱不是独身一人在战斗，此项目已经给无数思陷囹圄者

[2022-10-15 06:15] GreaterFire commented on #657
@kgiflwl Thanks!

[2022-10-15 07:25] ArcCal commented on #657
原来大火一直都在

[2022-10-16 10:24] 142857X1 commented on #657
致敬

[2022-10-20 22:37] martyn0ff commented on #78
Here's what helped me to solve this problem (I'm on Debian 11, using Lets Encrypt).
1. Stop trojan from running: `systemctl stop trojan`
2. Add new system user `debian-trojan`: `useradd -r debian-trojan`
3. Edit user and group that systemd launches trojan with: `vim  /lib/system/system/trojan.service`, replace `User` with `debian-trojan`
4. Add `Group=debian-trojan` in `[Service]` section. Now sys

[2022-10-21 09:05] martyn0ff commented on #631
I had the similar problem and was using Lets Encrypt. The issue was on client side's `config.json`: `"remote_addr"` key should have a **hostname** that you have a certificate for, and not an IP address. After I've changed my server's IP to its hostname everything worked flawlessly. `cert` points to `fullchain.pem`, `key` points to `privkey.pem`, trojan 1.16.0

[2022-10-25 11:54] ggjjl1 commented on #644
请问断流的问题大家有找到对应的解决方法吗？现在每天还是频繁断流，严重影响科学上网体验😂

[2022-10-25 11:55] ArcCal commented on #644
换用其他协议，换云服务商

[2022-10-27 13:33] Alcatraz1337 opened #658 "Help with 'possibly wrong password'"
Hi,

I have a Trojan server deployed on a DigitalOcean server in the US. I have setup a normal Trojan server with config:

[code]

It's a simple setup with no db enabled. But when I tried connecting to it, the browser returns `ERR_SSL_PROTOCOL_ERROR` and the server journal logs `valid trojan request structure but possibly incorrect password`. Could any one help with this weird question?

Also have

[2022-10-27 13:44] Alcatraz1337 commented on #658
It WAS actually WRONG password.

还真的是密码填错了 我傻逼

[2022-10-27 13:44] #658 closed, assigned to nobody

[2022-11-12 19:51] cyejing commented on #644
一样经常间歇性断流，看来这个协议沦陷了😂

[2022-11-13 06:39] vahidx4r4x opened #659 "Detected?"
Hi.
Thanks for your great project.
Im in a chimese telegram channel and i asked them that which protocol is the best and undetected. They said that Trojan is being blocked! But everywhere I searched for the answer I saw that people recommend using Trojan over VLESS and VMESS etc.
Is it true? If it is, whats the best protocol to use?
Does combining protocols with WS help?

Please help me.
Thanks

[2022-11-13 15:23] superbetacat commented on #644
经过最近一段时间（2、3个月吧）的观察，感觉协议还是没问题的，可能是对手太强大了。。
为什么这么说呢，只有一个人偶尔用的服务器，偶尔会断流，但是概率很低。。。
使用人数比较多的服务器（流量也很大，100Mbps+），有些可以用3、5天都没事，有些半个小时就被封了，，，但是过一段时间又好了
然后就是使用其他tls的应用，比如RDP，就是Windows的3389远程桌面，这个完全和fq没关系的，偶尔也会中断。。。有时需要换几次IP才能连上
综上，我怀疑是不是无差别一一定概率封tls。。。

[2022-11-22 01:49] woyin commented on #648
@chainofhonor maybe you can search the keywords `OpenClash`

[2022-11-22 16:29] tianmulan commented on #644
同样的安装、同样的配置、同样的域名提供商。AWS的节点速度非常快非常稳定，而linode速度非常慢而且不稳定，时不时断网。